<!-- inscricao.component.html -->

<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-5">FAÇA SUA INSCRIÇÃO</h1>
      <div *ngIf="loading; else conteudoForm" class="text-center">
        <div class="loadingio-spinner-spinner-nm8a1lwpl2n">
          <div class="ldio-remdw0bq33">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <ng-template #conteudoForm>
        <div *ngIf="!sucesso; else mensagemSucesso">
          <form [formGroup]="inscricaoForm" (ngSubmit)="inscrever()">

            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="text" id="nome" name="nome" class="form-control" formControlName="nome" placeholder="Nome">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('nome')?.hasError('required')">
                  Por favor coloque o seu nome
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <input type="text" id="sobrenome" name="sobrenome" class="form-control" formControlName="sobrenome"
                  placeholder="Sobrenome">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('sobrenome')?.hasError('required')">
                  Por favor coloque o seu Sobrenome
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="email" id="email" name="email" class="form-control" formControlName="email"
                  placeholder="Email">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('email')?.hasError('required')">
                  Por favor coloque o seu email
                </span>
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('email')?.hasError('email')">
                  Por favor insira um email valido
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <input type="tel" id="telefone" name="telefone" class="form-control" formControlName="telefone"
                  placeholder="Telefone">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('telefone')?.hasError('required')">
                  Por favor coloque o seu telefone
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="text" id="cep" name="cep" class="form-control" formControlName="cep" placeholder="CEP"
                  (change)="
                buscaEnderecoByCEP(inscricaoForm.get('cep')?.value)" mask="00.000-000" maxlength="8">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('cep')?.hasError('required')">
                  Por favor coloque o seu cep
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <input type="text" id="endereco" name="endereco" class="form-control" formControlName="endereco"
                  placeholder="Endereço">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('endereco')?.hasError('required')">
                  Por favor coloque o seu endereço
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <input type="text" id="bairro" name="bairro" class="form-control" formControlName="bairro"
                  placeholder="Bairro">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('bairro')?.hasError('required')">
                  Por favor coloque o seu bairro
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Complemento"
                  formControlName="complemento">
              </div>
            </div>

            <!-- Cidade, Estado em uma linha -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="text" id="cidade" name="cidade" class="form-control" formControlName="cidade"
                  placeholder="Cidade">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('cidade')?.hasError('required')">
                  Por favor coloque o seu cidade
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <input type="text" id="estado" name="estado" class="form-control" formControlName="estado"
                  placeholder="Estado">
                <span class="text-danger" *ngIf="formSubmitted && inscricaoForm.get('estado')?.hasError('required')">
                  Por favor coloque o seu estado
                </span>
              </div>
            </div>

            <!-- Botão de Inscrever -->
            <button type="submit" class="btn btn-primary btn-large" (click)="inscrever()">ENVIAR</button>
          </form>
        </div>
      </ng-template>
      <ng-template #mensagemSucesso>
        <!-- Se houver sucesso, exibir a mensagem -->
        <div class="alert alert-success mt-3">
          Sua inscrição foi feita com sucesso!
        </div>
      </ng-template>
    </div>
  </div>
</div>