<!-- cronograma.component.html -->

<div class="container-fluid content">
  <h1 class="text-data text-center mb-5"> CRONOGRAMA</h1>
  <div class="row">
    <div class="col-md-2 mx-4">
      <div class="custom-box">
        <div class="text-data">
          <h2>19/4</h2>
        </div>
        <hr>
        <p>Lançamento e palestra</p>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="custom-box">
        <div class="text-data">
          <h2>De 19/4 a 19/5</h2>
        </div>
        <hr>
        <p>Inscrições</p>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="custom-box">
        <div class="text-data">
          <h2>7/6</h2>
        </div>
        <hr>
        <p>Pitch Day e seleção das propostas para a segunda etapa</p>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="custom-box">
        <div class="text-data">
          <h2>12/6</h2>
        </div>
        <hr>
        <p>Divulgação das propostas selecionadas</p>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="custom-box">
        <div class="text-data">
          <h2>A partir de 14/6</h2>
        </div>
        <hr>
        <p>Mentorias e desenvolvimento das iniciativas</p>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="custom-box">
        <div class="text-data">
          <h2>28/6</h2>
        </div>
        <hr>
        <p>Visita técnica</p>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="custom-box">
        <div class="text-data">
          <h2>30/8</h2>
        </div>
        <hr>
        <p>Pitch Day final, divulgação do ranking e evento de premiação</p>
      </div>
    </div>

  </div>
</div>