<div class="container mt-5">
  <div class="row">
    <h1 class="text-center mb-2">PREMIAÇÃO</h1>
    <div class="col-md-4 award-container">
      <div class="award">
        <img src="../../../../assets/1lugar.svg" class="img-fluid" alt="Prêmio 1">
        <h4 class="color-text">1º Lugar</h4>
        <p class="text-value">R$ 5.000,00 + troféu</p>
      </div>
    </div>
    <div class="col-md-4 award-container">
      <div class="award">
        <img src="../../../../assets/2lugar.svg" class="img-fluid" alt="Prêmio 1">

        <h4 class="color-text">2º Lugar</h4>
        <p class="text-value">R$ 3.000,00 + troféu</p>
      </div>
    </div>
    <div class="col-md-4 award-container">
      <div class="award">
        <img src="../../../../assets/3lugar.svg" class="img-fluid" alt="Prêmio 1">

        <h4 class="color-text">3º Lugar</h4>
        <p class="text-value">R$ 2.000,00 + troféu</p>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <a href="#" class="btn btn-primary btn-lg btn-large btn-space">CONFIRA O REGULAMENTO</a>
    <a href="#" class="btn btn-primary btn-lg btn-large">FAÇA A SUA INSCRIÇÃO</a>
  </div>
  <hr>
</div>