<!-- premiacao.component.html -->

<div class="container-fluid" style="background-color: #F7F7F7; color: #333; padding: 20px;">
  <div class="row">
    <div class="col-md-4">
      <div class="premiacao-item">
        <img src="../../../../assets/1lugar.svg" class="img-fluid" alt="Prêmio 1">
        <h3>1º Lugar</h3>
        <p>Valor do Prêmio: R$1000</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="premiacao-item">
        <img src="../../../../assets/2lugar.svg" class="img-fluid" alt="Prêmio 2">
        <h3>2º Lugar</h3>
        <p>Valor do Prêmio: R$500</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="premiacao-item">
        <img src="../../../../assets/3lugar.svg" class="img-fluid" alt="Prêmio 3">
        <h3>3º Lugar</h3>
        <p>Valor do Prêmio: R$250</p>
      </div>
    </div>
  </div>
</div>