<!-- inicio.component.html -->

<div class="container-fluid">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark position-absolute top-0 start-0 end-0">
    <div class="container">
      <!-- Logotipo à esquerda -->
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/logo_holambra_telescope.svg" alt="Logo" width="350" height="70">
      </a>

      <!-- Botão de menu responsivo -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Itens do menu -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">INSCREVA-SE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DESAFIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CRONOGRAMA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PREMIAÇÃO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">REGULAMENTO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mt-10">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <!-- Coluna à esquerda -->
          <div class="col-lg-6  text-light">
            <h1 class="mb-4 ml-text">DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h1>
            <p class="ml-text">É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtores
              rurais.</p>
            <a href="#" class="btn btn-primary btn-large ml-text">INSCREVA-SE</a>
          </div>
          <!-- Coluna à direita -->
          <div class="col-lg-6 img-position">
            <img src="../../../../assets/logo_visibilidade.svg" alt="Imagem" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>