<div class="parent-container">
  <div class="row">
    <div class="col-12 background-container">
      <div class="row">
        <div class="col-md-6 text-white text-center">
          <h1>DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h1>
          <p>É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtores rurais.</p>
          <button class="btn btn-primary btn-lg mt-3">Inscreva-se</button>
        </div>
        <div class="col-md-6">
          <img src="../../../../assets/logo_visibilidade.svg" class="img-fluid" alt="Imagem da coluna esquerda">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-12 background-container">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../../assets/logo_visibilidade.svg" class="img-fluid" alt="Imagem da coluna esquerda">
    </div>
    <div class="col-md-6 text-white text-center">
      <h1>DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h1>
      <p>É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtores rurais.</p>
      <button class="btn btn-primary btn-lg mt-3">Inscreva-se</button>
    </div>
  </div>
</div> -->