.parent-container {
  height: 400px; /* ajuste conforme necessário para a altura desejada da div pai */
}

.background-container {
  background: url("../../../../assets/background.svg") no-repeat center center
    fixed;
  background-size: cover;
  height: 100%;
}

.img-content {
  width: 350px;
  height: 80px;
}

.mt-10 {
  margin-top: 10rem;
}

.ml-text {
  margin-left: 21.5rem;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
}

.btn-large {
  padding: 10px 50px;
  font-size: 25px;
  color: #003262;
}

.img-position {
  margin-top: -5rem;
  margin-bottom: 5rem;
}
